{% extends "network/layout.html" %}
{% load static %}

{% block body %}
	<script src="{% static 'network/messages.js' %}"></script>
	<h2 id="index_header"><span style="color:black;">Welcome!</span></h2>
    
	{% comment %} global variable to determine which page the user is on {% endcomment %}
	<p id="page_counter">0</p>
	
	{% if user.is_authenticated %}
		<form class="cust-form-group" style="border:5px; padding:20px" action="{% url 'index' %}" method="POST">
		{% comment %} TODO NEED TO CHANGE THE URL ABOVE TO GO TO INDEX ROUTE  {% endcomment %}
			{% csrf_token %}
			{{ form.as_p }}
			<input id="submit_mesage_button" class="btn btn-primary" value="Post Message!" type="Submit">
		</form>
	{% endif %}
    
    <div id="index_messages">
    </div>
    
	<div class="row">
		<div id="pageButtons" class="col-sm-12 text-center">
			<button id="btnPrevious" class="btn btn-primary btn-md center-block" Style="width: 100px;" OnClick="previous_page()" >Previous</button>
			<button id="btnNext" class="btn btn-danger btn-md center-block" Style="width: 100px;" OnClick="next_page()" >Next</button>
		</div>
	</div>

{% endblock %}
