{% extends "network/layout.html" %}
{% load static %}

{% block body %}
	<script src="{% static 'network/messages.js' %}"></script>
	<h2 id="index_header"><span style="color:black;">Welcome!</span></h2>
    
	{% comment %} global variable to determine which page the user is on {% endcomment %}
	<p id="page_counter">0</p>
	
	<form class="cust-form-group" style="border:5px; padding:20px" action="{% url 'index' %}" method="POST">
    {% comment %} TODO NEED TO CHANGE THE URL ABOVE TO GO TO INDEX ROUTE  {% endcomment %}
        {% csrf_token %}
        {{ form.as_p }}
        <input id="submit_message_button" class="btn btn-primary" value="Post Message!" type="Submit">
    </form>
    
    <div id="index_messages">
    </div>
    
    <button id="next_page" class="btn btn-primary" type="button">Next ></button>
    <br>

{% endblock %}
